		.index{
			width: 1415px;
			margin: 0px auto;
			font-family: "微软雅黑";
		}
		.index .in-menu{
			width: 100%;
			height: 68px;
			margin: 20px 0;
		}
		.index .in-menu .in-m-zuo{
			width: 195px;
			height: 68px;
			position: relative;
			float: left;
		}
		.index .in-menu .in-m-zuo a{
			display: inline-block;
			width: 50px;
			height: 68px;
			color: #212121;
			font-size: 14px;
			text-align: center;
			line-height: 100px;
			background: url(../img/index/s1.png) no-repeat 7px 2px; 
			margin-right: 5px;
		}
		.index .in-menu .in-m-zuo a:nth-child(2){
			background: url(../img/index/s2-1.png) no-repeat 7px 2px;
		}
		.index .in-menu .in-m-zuo a:nth-child(3){
			background: url(../img/index/s3.png) no-repeat 7px 2px;
		}
		.index .in-menu .in-m-zuo a:hover{
			color: #00A1D6;
		}
		.index .in-menu .in-m-zhong{
			width: 940px;
			height: 68px;
			float: left;
			padding-left: 14px;
		}
		.index .in-menu .in-m-zhong ul li{
			height: 19px;
			float: left;
			margin-top: 5px;
			margin-left: 24px;
			padding-right: 27px;
			position: relative;
		}
		.index .in-menu .in-m-zhong ul li:nth-child(20){
			padding-right: 45px;
		}
		.index .in-menu .in-m-zhong ul li a{
			color: #212121;
			font-size: 14px; 
		}
		.index .in-menu .in-m-zhong ul li:hover a{
			color: #00A1D6;
		}
		.index .in-menu .in-m-you{
			width: 236px;
			height: 68px;
			padding-left: 30px;
			position: relative;
			float: left;
		}
		.index .in-menu .in-m-you ul li{
			height: 20px;
			padding-left: 10px;
			float: left;
			margin: 3px 10px 5px 0;
			text-align: right;
			line-height: 20px;
		}
		.index .in-menu .in-m-you ul li a{
			color: #212121;
			font-size: 10px;
		}
		.index .in-menu .in-m-you ul li:hover a{
			color: #00A1D6;
		}
		.index .in-menu .in-m-you ul li:nth-child(4){
			position: relative;
		}
		.index .in-menu .in-m-you .gap{
			width: 1px;
			height: 46px;
			background-color: #E7E7E7;
			position: absolute;
			top: 12px;
			left: 0px;
		}
		
		
		/* 专栏前面的小图标 */
		#ppp1{	
			display: inline-block;
			width: 16px;
			height: 16px;
			position: relative;
			top: 5px;
			background: url(../img/header/zhuanlan.png) no-repeat;
		}
		#ppp2{
			display: inline-block;
			width: 16px;
			height: 16px;
			position: relative;
			top: 5px;
			background: url(../img/header/huodong.png) no-repeat;
		}
		#ppp3{
			display: inline-block;
			width: 16px;
			height: 16px;
			position: relative;
			top: 5px;
			background: url(../img/header/shequ.png) no-repeat;
		}
		#ppp4{
			display: inline-block;
			width: 16px;
			height: 16px;
			position: relative;
			top: 5px;
			background: url(../img/header/直播.png) no-repeat;
		}
		#ppp5{
			display: inline-block;
			width: 16px;
			height: 16px;
			position: relative;
			top: 5px;
			background: url(../img/header/课堂.png) no-repeat;
		}
		#ppp6{
			display: inline-block;
			width: 16px;
			height: 16px;
			position: relative;
			top: 5px;
			background: url(../img/header/xinge.png) no-repeat;
		}
		
		/* 轮播加+视频 */
		.index .index-1{
			height: 450px;
			width: 100%;
			margin-bottom: 45px;
		}
		.index .index-1 .index-1-right{
			width: 854px;
			height: 243px;
			float: left;
			position: relative;
		}
		.index .index-1 .index-1-right ul{
			width: 854px;
			height: 243px;
			position: relative;
		}
		.index .index-1 .index-1-right ul li{
			border-radius: 8px;
			float: left;
			width: 260px;
			height: 140px;
			margin-right: 11px;
			margin-left: 11px;
			margin-bottom: 80px;
			position: relative;
			overflow: hidden;
		}
		.index .index-1 .index-1-right ul li img{
			border-radius: 2px;
			width: 260px;
			height: 140px;
		}
		.index .index-1 .index-1-right ul li p{
			width: 260px;
			height: 140px;
			position: absolute;
			top: 80px;
			color: black;
			font-size: 12px;
			padding: 10px;
			line-height: 2em;
			
		}
		
		.index .index-1 .index-1-right #index-1-3 p{
			color: #212121;
			font-size: 15px;
			margin-left: 10px;
		}
		
		

		
		
		
		/* 推广 */
		.index .div-title{
			height: 38px;
			font-size: 20px;
			text-indent: 50px;
			background: url(../img/index/c1.png) no-repeat 5px 1px;
			margin-bottom: 20px;
		}
		.index .tuiguang{
			
			width: 100%;
			height: 245px;
			margin-bottom: 40px;
		}
		.index .tuiguang .tuiguang-in{
			width: 100%;
			height: 100%;
			float: left;
		}
		.index .tuiguang .tuiguang-in ul{
			width: 100%;
			height: 250px;
			overflow: hidden;
		}
		.index .tuiguang .tuiguang-in ul li{
			float: left;
			height: 100%;
			width: 206px;
			margin-right: 70px;
			margin-left: 5px;
		}
		.index .tuiguang .tuiguang-in ul li:last-child{
			margin-right: 20px;
		}
		.index .tuiguang .tuiguang-in ul li a{
			display: block;
			width: 206px;
			height: 160px;
			position: relative;
		}
		.index .tuiguang .tuiguang-in ul li a img{
			width: 260px;
			height: 160px;
			border-radius: 2px;
		}
		.index .tuiguang .tuiguang-in ul li a p{
			color: #212121;
			font-size: 15px;
			margin-left: 10px;
		}
		
		.index .tuiguang .tuiguang-in ul li a:hover p{
			color: #00A1D6;
		}
		/* 广告的样式 */
		.index .tuiguang .tuiguang-in ul li a p span{
			color: #b2b2b2;
			width: 30px;
			height: 18px;
			display: inline-block;
			border-radius: 2px;
			border: 1px solid #B2B2B2;
			font-size: 10px;
			text-align: center;
			margin-right: 8px; 
		}
		
		/* UP的样式 */
		.index .tuiguang .tuiguang-in ul li .tg-up{
			color: #999999;
			font-size: 13px;
			line-height: 27px;
			margin-top: 40px;
			margin-left: 10px;
		}
		.index .tuiguang .tuiguang-in ul li .tg-up span{
			border: 1px solid #999999;
			margin-right: 3px;
			font-size: 1px;
			border-radius: 2px;
			display: inline-block;
			padding: 0px 4.5px;
			line-height: 12px;
			width: 23px;
			height: 12px;
			text-align: center;
		}
		
		
		/* 赛事的样式 */
		.index .div-title1{
			margin-top: 20px;
			height: 38px;
			font-size: 20px;
			text-indent: 50px;
			background: url(../img/index/c3.png) no-repeat 5px 1px;
			margin-bottom: 20px;
		}
		.index .saishi{
			margin-top: 30px;
			width: 100%;
			height: 245px;
			margin-bottom: 40px;
		}
		.index .saishi .saishi-in{
			width: 100%;
			height: 100%;
			float: left;
		}
		.index .saishi .saishi-in ul{
			width: 100%;
			height: 250px;
			overflow: hidden;
		}
		.index .saishi .saishi-in ul li{
			float: left;
			height: 100%;
			width: 206px;
			margin-right: 70px;
			margin-left: 5px;
		}
		.index .saishi .saishi-in ul li:last-child{
			margin-right: 20px;
		}
		.index .saishi .saishi-in ul li a{
			display: block;
			width: 206px;
			height: 160px;
			position: relative;
		}
		.index .saishi .saishi-in ul li a img{
			width: 260px;
			height: 160px;
			border-radius: 2px;
		}
		.index .saishi .saishi-in ul li a p{
			color: #212121;
			font-size: 15px;
			margin-left: 10px;
		}
		
		.index .saishi .saishi-in ul li a:hover p{
			color: #00A1D6;
		}
		
		/* 直播中的样式 */
		.index .saishi .saishi-in ul li a p span{
			color: red;
			width: 40px;
			height: 16px;
			display: inline-block;
			border-radius: 2px;
			border: 1px solid red;
			font-size: 8px;
			text-align: center;
			margin-right: 4px; 
		}
		
		/* UP的样式 */
		.index .saishi .saishi-in ul li .tg-up{
			color: #999999;
			font-size: 13px;
			line-height: 27px;
			margin-top: 60px;
			margin-left: 10px;
		}
		.index .saishi .saishi-in ul li .tg-up span{
			border: 1px solid #999999;
			margin-right: 3px;
			font-size: 1px;
			border-radius: 2px;
			display: inline-block;
			padding: 0px 4.5px;
			line-height: 12px;
			width: 24px;
			height: 12px;
			text-align: center;
		}
		
		.imgad6{
			width: 100%;
			height:110px;
			overflow: hidden;
			border-radius: 10px;
			margin-top: 100px;
		}
		.imgad6 img{
			width: 100%;
			height:110px;
		}
		
		
		/* 直播的样式 */
		.index .zhibo .zhibo-in .div-title2{
			margin-top: 20px;
			height: 38px;
			font-size: 20px;
			text-indent: 50px;
			background: url(../img/favicon.ico) no-repeat 5px 1px;
			margin-bottom: 20px;
		}
		.index .zhibo{
			margin-top: 30px;
			width: 100%;
			height: 245px;
			margin-bottom: 40px;
		}
		.index .zhibo .zhibo-in{
			width: 100%;
			height: 100%;
			float: left;
		}
		.index .zhibo .zhibo-in ul{
			width: 100%;
			height: 250px;
			overflow: hidden;
		}
		.index .zhibo .zhibo-in ul li{
			float: left;
			height: 100%;
			width: 206px;
			margin-right: 70px;
			margin-left: 5px;
		}
		.index .zhibo .zhibo-in ul li:last-child{
			margin-right: 20px;
		}
		.index .zhibo .zhibo-in ul li a{
			display: block;
			width: 206px;
			height: 160px;
			position: relative;
		}
		.index .zhibo .zhibo-in ul li a img{
			width: 260px;
			height: 160px;
			border-radius: 2px;
		}
		.index .zhibo .zhibo-in ul li a p{
			color: #212121;
			font-size: 15px;
			margin-left: 10px;
		}
		
		.index .zhibo .zhibo-in ul li a:hover p{
			color: #00A1D6;
		}
		
		/* 直播中的样式 */
		.index .zhibo .zhibo-in ul li a p span{
			color: red;
			width: 40px;
			height: 16px;
			display: inline-block;
			border-radius: 2px;
			border: 1px solid red;
			font-size: 8px;
			text-align: center;
			margin-right: 4px; 
		}
		
		/* UP的样式 */
		.index .zhibo .zhibo-in ul li .tg-up{
			color: #999999;
			font-size: 13px;
			line-height: 27px;
			margin-top: 60px;
			margin-left: 10px;
		}
		.index .zhibo .zhibo-in ul li .tg-up span{
			border: 1px solid #999999;
			margin-right: 3px;
			font-size: 1px;
			border-radius: 2px;
			display: inline-block;
			padding: 0px 4.5px;
			line-height: 12px;
			width: 23px;
			height: 12px;
			text-align: center;
		}